.card-container {
  width: 380px;
  border: 2px solid #207c9b;
  border-radius: 12px;
  font-family: "Comfortaa", cursive;
  margin: 8px;
}
.main-margin {
  margin: 20px;
}
.photo-hotel {
  height: 240px;
  width: 100%;
  border-radius: 8px;
}
.location-container {
  display: flex;
  align-items: center;
}
.location-container > img {
  height: 22px;
  margin-right: 8px;
}
.info-hotel {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.info-hotel > div {
  margin: 5px;
}
.name-hotel {
  font-size: 22px;
}
.room-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.is-room-available {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.is-room-available > img {
  height: 28px;
  margin-right: 8px;
}

.price-indicator {
  display: flex;
  justify-content: center;

  border-radius: 2px;
  padding: 2px;
}
.price-indicator > div {
  color: white;
  font-weight: 700;
  font-size: 20px;
}
.icon-price {
  height: 18px;
}
.btn-booking {
  width: 100%;
  height: 36px;
  background: rgb(37, 6, 80);
  background-color: #44b8b8;
  font-size: 18px;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  flex: 2;
}
.date-style {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2498be;
  color: #ffffff;
  font-weight: bolder;
  border-radius: 3px;
  padding: 4px;
}
